/* global layout setting */

    *{

        box-sizing: border-box;

    }

    body{

        font-family: 'Lato', sans-serif;
        margin: 0;

    }

/*sections settings*/

    header{

        text-align: center;
        

    }

    header p{

        font-size: 1.2em;
        color: gray;

    }

    h1:first-child{

        text-transform: uppercase;
        color: white;
        background-color: #273A39;
        padding: 30px 0px 30px 0;
        margin: 0;

    }


    .container{

        margin: 0 10px 0 10px;
        padding: 0 10px 0 10px;
        
    }

    .oneline{

        display: flex;
        flex-direction: column;
        margin-top: 3px;
        
    }


    input,
    select{

        padding: 10px 10px 10px 0;
        text-align:  right;
        background-color: #DBE0E9;
        border-radius: 5px;
        border-style: none;
        margin: 10px 0 10px 0; 

    }

    #states {

        padding-left: 12px;
        color: gray;

    }

    option {

        color: black;

    }

    .contact input:last-child {

        width: 50%;

    }

    textarea{

        width: 100%;
        border-radius: 5px;
        background-color:  #DBE0E9;
        border-style: none;

    }

    input:focus,
    select:focus,
    textarea:focus
    {

        box-shadow:   3px 3px lightblue;
        
    }

    input[type=submit]{

        width: 100%;
        text-align: center;
        padding: 20px 0 20px 0; 
        margin-top: 30px;
        background-color: #0099e6;
        color: white;
        font-size: 2em;

    }

    footer p{

        font-size: 1.5em;
        text-align: center; 
        color: gray;
        font-style: italic;

    }

    input[type=checkbox],
     input[type=radio] {

        margin-right: 15px;
        box-shadow: none;

    }
    

    .row1,
    .row2,
    .row3,
    .row4,
    .row5
    {
        display: flex;
    }
    .row5{
        padding-bottom: 5px;
    }

    .newsletter label {
       padding-top: 5px;
    }

    .newsletter textarea{
        margin-top: 10px;
    }

/* border lines*/
   
    .line{

        content:"";
        height: 10px;
        border-top: 4px solid black;
        border-bottom: 2px solid black;

    }
    
    .newsletter{
        border-top: 2px solid black;
        margin-top: 10px;
    }
   

/*fieldset line section*/

    .newsletter fieldset{

        border-style: none; 
        
    }

    fieldset{

        border-style: none;

    }

    .contact legend{

        font-size: 1.5em;
        font-weight: bold;
      
    }

    legend,
    .newsletter legend{

        font-size: 1.5em;
        font-weight: bold;
        padding-top: 20px;
    
    }

    
  
 
/*media quaries*/

   @media screen and (min-width: 768px){


        header h2{

            padding-top: 20px;

        }

        header p{

            padding-bottom: 20px;

        }

        .container{
            
            margin: auto;
            justify-content: center;
            width: 60%;

        }  

        .oneline{

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-items: center;
           
        }

        .oneline input,
        .oneline select{
            flex-grow: 1;
            padding-top: 10px;
            flex-basis: 80%; 

        }

        .oneline label{
            
            min-width: 100px;
            vertical-align: center;
            margin-top: 15px;
            margin-right: 10px;

        }

        .oneline :last-child{

            max-width: 100px;
            align-items: center;
            justify-content: left;

        }
    
      
    }


